extends ../../templates/management.template.pug
include ../../mixins/no-result.mixin.pug

block title
  title Xem danh sách nhu yếu phẩm | Người quản trị

block addStyle
  link(rel="stylesheet", href="/css/management/product-view-list.css")

block addContent
  .p-4.flex-grow-1
    .wrapper
      if products && products.length > 0
        each product in products
          - const { productName, price, unit, photos, thumbnail } = product;
          .product-card
            img.card-top(src=thumbnail, alt="Product Photo")
            .card-body
              if photos && photos.length > 0
                .photos
                  each photo in photos
                    img(src=photo, alt="Photo")
              .card-content
                h4.product-name= productName
                .product-price #[span= helpers.formatCurrency(price)] / #[span= unit]
              .card-bottom
                button.btn.btn-primary.mr-2 Sửa #[i.bi.bi-pencil-fill]
                button.btn.btn-danger Xoá #[i.bi.bi-trash-fill]
      else
        +no-result

    #pagination.mt-4
  .photo-preview-wrapper
    .photo-preview-close-icon
      i.bi.bi-x-lg#closePreview
    .photo-preview
      img(src="", alt="Photo")

block addScript
  script.
    const pageSize = parseInt("#{pageSize}");
    const total = parseInt("#{total}");
    const currentPage = parseInt("#{currentPage}");

  script(src="/vendors/pagination.min.js")
  script(src="/js/management/product-view-list.js")
