extends ../../templates/management.template.pug
include ../../mixins/no-result.mixin.pug

block addStyle
  link(rel="stylesheet", href="/vendors/selectize/selectize.min.css")
  link(rel="stylesheet", href="/css/management/user-list.css")

block addContent
  .p-3.flex-grow-1
    .search.d-flex.mb-4
      input#searchInput.field.bg-white(type="text", placeholder="Nhập Tên, CMND người cần tìm")
      button#searchBtn.btn.btn-info #[i.bi.bi-search]

    if search
      h5.my-3.text-info Kết quả tìm kiếm cho: #[b.mx-3= search] #[a(href=`/management/users/list?page=${currentPage}`) #[i.bi.bi-x-square-fill.text-danger.cur-pointer#destroySearch]]

    if userList && userList.length > 0
      table.table.table-striped.table-light.table-bordered
        thead.thead-dark
          tr
            th(scope="col")
              .has-icon #[span Họ tên] #[i.bi.sort-icon(data-sort="fullname")]
            th(scope="col")
              .has-icon #[span CMND/CCCD] #[i.bi.sort-icon(data-sort="peopleId")]
            th(scope="col")
              .has-icon #[span Năm sinh] #[i.bi.sort-icon(data-sort="DOB")]
            th(scope="col")
              .has-icon #[span Tình trạng] #[i.bi.sort-icon(data-sort="statusF")]
            th(scope="col") Địa chỉ
            th(scope="col") CS điều trị
            th(scope="col") Số ca LQ
            th(scope="col") Hành động
        tbody
          each user in userList
            - const IFName = user.isolationTreatment ?  user.isolationTreatment.isolationFacilityName : '_';
            tr
              td= user.fullname
              td= user.peopleId
              td= new Date(user.DOB).getFullYear()
              td= helpers.convertStatusFToStr(user.statusF)
              td= user.address
              td= IFName
              td= user.numOfRelated
              td.text-center
                i.mgmt-icon.edit-icon.bi.bi-pencil-fill.px-2(data-uuid=user.uuid, data-statusf=user.statusF, data-if=IFName)
                i.mgmt-icon.info-icon.bi.bi-info-circle-fill.px-2(data-uuid=user.uuid)
      #pagination
    else
      +noResult('w-80', '/management/users/list')

  .modal#userModal
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.m-0-auto
      .modal-content
        .modal-header.bg-info
          h5.modal-title.text-light.text-capitalize Chi tiết bệnh nhân
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span.text-light(aria-hidden="true") ×
        .modal-body
          #loading.flex-center.py-4.d-none
            .spinner-border.text-info(role="status")
              span.sr-only Đang tải dữ liệu ...
          #userModalBody
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Đóng

  .modal#editModal
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.m-0-auto
      .modal-content
        .modal-header.bg-warning
          h5.modal-title.text-capitalize Cập nhật trạng thái bệnh nhân
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body(style="padding:4rem 2rem")
          #editModalBody
            label(for="#statusFSelect").text-gray.font-weight-bold Tình trạng #[span#currentStatusF.font-weight-normal]
            select.mb-5#statusFSelect
              option(selected) Chọn tình trạng hiện tại
              option(value="-1") Đã khỏi bệnh
              option(value="0") F0
              option(value="1") F1
              option(value="2") F2
              option(value="3") F3

            label(for="#iFSelect").text-gray.font-weight-bold Cơ sở điều trị #[span#currentIF.font-weight-normal]
            select.sm-box-shadow#IFSelect
              option(selected) Chọn cơ sở điều trị cho bệnh nhân
              if IFList && IFList.length > 0
                each IFItem in IFList
                  option(value=IFItem.isolationFacilityId)= IFItem.isolationFacilityName

        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Đóng
          button#updateBtn.btn.btn-warning(type="button") Cập nhật

  .toast-msg#toastMsg
block addScript
  script.
    const pageSize = parseInt("#{pageSize}");
    const total = parseInt("#{total}");
    const currentPage = parseInt("#{currentPage}");
    const sortListRaw = "#{sortList}";
    const sortList = sortListRaw.length > 0 ? sortListRaw.split(',') : [];
    const search = "#{search}";

  script(src="/vendors/selectize/selectize.min.js")
  script(src="/vendors/pagination.min.js")
  script(src="/js/management/user-list.js")
