extends ../../templates/management.template.pug

block addContent
  .p-4.flex-grow-1
    table.table.table-striped.table-light.table-bordered.w-100
      thead.thead-dark
        tr
          th(scope="col") Tên gói
          th(scope="col") Giới hạn SL sản phẩm
          th(scope="col") Giới hạn SL gói/ngày
          th(scope="col") Giới hạn SL gói/tuần
          th(scope="col") Giới hạn SL gói/tháng
          th(scope="col") Hành động
      tbody
        each p in packages
          tr
            td=  p.productPackageName
            td=  p.limitedProducts
            td=  p.limitedInDay
            td=  p.limitedInWeek
            td=  p.limitedInMonth
            td.text-center
              i.mgmt-icon.edit-icon.bi.bi-pencil-fill.px-2
              i.mgmt-icon.info-icon.bi.bi-info-circle-fill.px-2(type="button", data-toggle="modal", data-target="#packageModal", data-whatever="#idPackage", data-uuid=p.productPackageId)


    .modal.fade#packageModal(tabindex="-1", aria-labelledby="packageModalLabel", aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable.m-0-auto
        .modal-content
          .modal-header.bg-info
            h5.modal-title.text-light.text-capitalize Chi tiết gói nhu yếu phẩm
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span.text-light(aria-hidden="true") ×
          .modal-body
            #loading.flex-center.py-4.d-none
              .spinner-border.text-info(role="status")
                span.sr-only Đang tải dữ liệu ...
            #packageModalBody
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Đóng

    #pagination
block addScript
  script.
    const pageSize = parseInt("#{pageSize}");
    const total = parseInt("#{total}");
    const currentPage = parseInt("#{currentPage}");
    const sortListRaw = "#{sortList}";
    const sortList = sortListRaw.length > 0 ? sortListRaw.split(',') : [];
    const search = "#{search}";

  script(src="/vendors/pagination.min.js")
  script(src="/js/management/product-package-list.js")


