extends ../../templates/management.template.pug
include ../../mixins/navbar.mixin.pug
include ../../mixins/footer.mixin.pug
//- include ../../mixins/package-card.mixin.pug
include ../../mixins/scroll-top.mixin.pug
include ../../mixins/no-result.mixin.pug

block title
  title Covid Project | Gói nhu yếu phẩm

block append style
  link(rel="stylesheet", href="/css/user/package-card.css")
  link(rel="stylesheet", href="/css/user/home.css")

block addContent
  .toast-msg#toastMsg

  .p-4.flex-grow-1
    .search.d-flex.mb-4
      input#search.field(type="text", placeholder="Nhập tên sản phẩm cần tìm")
      button#searchBtn.btn.btn-info #[i.bi.bi-search]
    if searchKeyword
      h5.my-3.text-info Kết quả tìm kiếm cho: #[b.mx-3= searchKeyword] #[i.bi.bi-x-square-fill.text-danger.cur-pointer#destroySearch]

    .d-flex.flex-wrap.my-4.sort-filter.justify-content-center
      mixin renderOption(name, value, selected)
        if value == selected
          option(value=value, selected="selected")= name
        else
          option(value=value)= name

      .mb-3.sort
        label.d-block.pl-2.text-gray Sắp xếp theo giá
        select#sortByPrice.field
          +renderOption("Không sắp xếp", -1, sortByPrice)
          +renderOption("Giảm dần", 0, sortByPrice)
          +renderOption("Tăng dần", 1, sortByPrice)

      .mb-3.mx-3.mx-lg-5.sort
        label.d-block.pl-2.text-gray Sắp xếp tên
        select#sortByName.field
          +renderOption("Không sắp xếp", -1, sortByName)
          +renderOption("Giảm dần", 0, sortByName)
          +renderOption("Tăng dần", 1, sortByName)

      .filter
        label.pl-2.text-gray Lọc theo giá
        .d-flex.align-items-center
          input#priceFrom.field(type="number", min="0", max="1000000000", placeholder="Thấp nhất", value=priceFrom||"")
          b.mx-2 -
          input#priceTo.field(type="number", min="0", max="1000000000", placeholder="Cao nhất", value=priceTo||"")
          button#filterBtn.btn.btn-success.ml-2 Lọc
          button.btn.btn-danger.ml-2(style="border-radius:8px;height:40px") #[a.text-light(href="/management/product-packages/list") Đặt lại]

    if packages && packages.length > 0
      .product-list#packageList
        each productPackage in packages
          - const { productPackageId, productPackageName, thumbnail, products, totalPrice } = productPackage;
            .package-card
              a.package-card__top(href=`/management/product-packages/${productPackageId}`)
                img.thumbnail(src=thumbnail, alt=packageName, onerror="this.onerror=null;this.src='https://res.cloudinary.com/tuan-cloudinary/image/upload/v1642031448/smarket/no-img.png'")
              .package-card__body
                a.package-card__title(href=`/management/product-packages/${productPackageId}`)= productPackageName
                if products
                  ul.p-0
                    each product in products
                      li.product-item #[span= product.productName] #[span.text-gray #{helpers.formatCurrency(product.productPrice)} / #{product.productUnit}]
                p.mt-auto.package-card__price #[span.price= packagePrice]
              .package-card__bottom
                button.btn.btn-primary.w-100.add-cart-btn.d-none(data-id=productPackageId) Thêm vào giỏ hàng #[i.bi.bi-cart-plus-fill]
    else
      +noResult('', '/management/product-packages/list')

    if packages && packages.length > 0
      .mt-5.flex-center.d-none#loading
        .spinner-border.mr-3(role="status")
          span.sr-only Đang tải dữ liệu ...
        b Đang tải dữ liệu ...
      #viewMore.view-more.mt-5 Xem thêm gói sản phẩm #[i.bi.bi-chevron-double-down]


block append script
  script(src="/js/scroll-top.js")
  script(src="/js/helpers/utils.js")
  script(src="/js/helpers/cart.js")
  script.
    const searchKeyword = "#{searchKeyword}";
  script(src="/js/user/search.js")
  script(src="/js/management/product-package-list.js")
