extends ../templates/general.template.pug
include ../mixins/navbar.mixin.pug
include ../mixins/footer.mixin.pug
include ../mixins/package-card.mixin.pug
include ../mixins/scroll-top.mixin.pug
include ../mixins/no-result.mixin.pug

block title
  title Covid Project | Giỏ hàng

block append style
  link(rel="stylesheet", href="/css/user/cart.css")

block content
  .toast-msg#toastMsg
  .page-container
    section.content-wrap
      +navbar
      .navbar-break

      .container.py-4
        h1.title.mb-4 Giỏ hàng của bạn
        if packages && packages.length > 0
          .row
            .col.col-12.col-md-8
              h3.cart-header.flex-center-between
                span Tổng cộng #[span#totalPackage.total-package(data-total=packages.length)= packages.length] sản phẩm
                b.text-danger.cur-pointer#removeAll Xoá hết
              each pack in packages
                - const { productPackageName, productPackageId, totalPrice, products } = pack;
                .package-box(data-id=productPackageId)
                  h4.package-name= productPackageName
                  .total-price(data-price=totalPrice)= helpers.formatCurrency(totalPrice)
                  each product in products
                    - const { productName, productUnit, productPrice, maxQuantity, productInPackageId } = product;
                    .center-vertical.justify-content-between.product
                      .flex-grow-1
                        span.product-name= productName
                        span.product-price= helpers.formatCurrency(productPrice)
                        span.product-unit= ` / ${productUnit}`
                      if maxQuantity > 1
                        .flex-center-between.flex-shrink-0(style="flex-basis: 16.5rem")
                          span.quantity-icon.d-none.minus(data-id=productInPackageId, data-package-id=productPackageId) -
                          .flex-grow-1.text-center
                            span.ml-2.mr-4 Tối đa: #{maxQuantity}
                            span.mr-2 số lượng: #[span.quantity(data-id=productInPackageId) 1]
                          span.quantity-icon.plus(data-id=productInPackageId, data-package-id=productPackageId) +
                  .text-right.mt-3
                    button.btn.btn-danger.remove-package(data-id=productPackageId) Xoá #[i.bi.bi-trash-fill]
            .col.col-12.col-md-4
              h3.cart-header Thanh toán
              .package-box.payment
                .flex-center-between.mb-2
                  .label Tồng số gói
                  .content #[span.total-package= packages.length]
                .flex-center-between
                  .label Chi phí vận chuyển
                  .content Miễn phí
                .my-3(style="border-top:solid 1px #ddd")
                .flex-center-between
                  .label Tổng phí
                  .content#paymentTotal #{helpers.formatCurrency(paymentTotal)}
                button.btn.btn-primary.w-100.mt-3.payment-btn#paymentBtn Thanh toán #[i.bi.bi-credit-card-fill.ml-2]

        else
          .text-center.mt-4
            p.text-gray Bạn chưa có sản phẩm nào trong giỏ hàng
            button.btn.btn-success #[a.text-light(href="/user") Quay lại]

      +footer
    +scrollTop

block append script
  script(src="/js/scroll-top.js")
  script(src="/js/helpers/utils.js")
  script(src="/js/helpers/cart.js")
  script.
    const searchKeyword = "#{searchKeyword}";
    let paymentTotal = Number("#{paymentTotal}");
    const packagesStr = "#{packagesStr}";
    let packages = JSON.parse(packagesStr.replace(new RegExp('&quot;', 'g'), '"'));
    if(isNaN(paymentTotal)) paymentTotal = 0;
  script(src="/js/user/search.js")
  script(src="/js/user/cart.js")
