extends ../templates/general.template.pug
include ../mixins/navbar.mixin.pug
include ../mixins/footer.mixin.pug
include ../mixins/package-card.mixin.pug
include ../mixins/scroll-top.mixin.pug
include ../mixins/no-result.mixin.pug

block append style
  link(rel="stylesheet", href="/css/management/product-view-list.css")
  style.
    body {
      background: #ddd;
    }
    h1 {
      font-size: 1.5rem;
    }
    .package-info{
      font-size: 1.2rem;
    }
    .label {
      font-weight: 600;
      color: var(--gray-dark)
    }
    .card-content {
      margin-bottom: 0;
    }

block content
  .page-container
    section.content-wrap
      +navbar
      .navbar-break

      .container.py-5
        - const { productPackageName, limitedInDay, limitedInWeek, limitedInMonth, totalPrice } = package;
        h1.text-uppercase.text-left.mb-4 Chi tiết gói sản phẩm - #{productPackageName}
        .package-info
          p #[span.label Tên gói:] #{productPackageName}
          p #[span.label Số sản phẩm trong gói:] 1
          p #[span.label Giới hạn mua trong ngày:] #{limitedInDay}
          p #[span.label Giới hạn mua trong tuần:] #{limitedInWeek}
          p #[span.label Giới hạn mua trong tháng:] #{limitedInMonth}
          p #[span.label Tổng giá:] #[b.text-danger(style="letter-spacing:0.75px;")= helpers.formatCurrency(totalPrice)]

        h5.text-uppercase.label.my-4 Các sản phẩm trong gói
        .wrapper
          if products && products.length > 0
            each product in products
              - const { productName, productPrice, productUnit, thumbnail, photos, maxQuantity, productId } = product;
              .product-card(data-id=productId)
                img.card-top(src=thumbnail, alt="Product Photo", onerror="this.onerror=null;this.src='https://res.cloudinary.com/tuan-cloudinary/image/upload/v1642031448/smarket/no-img.png'")
                .card-body
                  .photos
                    if photos && photos.length > 0
                      each photo in photos
                        .photo-item
                          img(src=photo, alt="Photo")

                  .card-content
                    h4.product-name= productName
                    .product-price #[span.price.text-danger= helpers.formatCurrency(productPrice)] / #[span.unit= productUnit]
                    p.text-gray Tối đa #[b= maxQuantity] sản phẩm / gói
          else
            +noResult("","/user")

          .photo-preview-wrapper
            .photo-preview-close-icon
              i.bi.bi-x-lg#closePreview
            .photo-preview
              img(src="", alt="Photo")
            i.arrow.previous.bi.bi-caret-left-fill
            i.arrow.next.bi.bi-caret-right-fill
    +footer
    +scrollTop

block append script
  script(src="/js/scroll-top.js")
  script(src="/js/helpers/cart.js")
  script(src="/js/helpers/utils.js")
  script(src="/js/helpers/cloudinary.js")
  script(src="/js/user/search.js")
  script(src="/js/user/package-detail.js")
