extends ../templates/user-info.template.pug

block title
  title Covid Project | Lịch sử thanh toán

block addContent
  h1.user-info-title Lịch sử thanh toán (#{paymentHistories ? paymentHistories.length : 0})
  if paymentHistories && paymentHistories.length > 0
    .table-wrap
      table.table.table-striped
        thead.thead-dark
          tr
            th(scope="col") Mã TT
            th(scope="col") Ngày TT
            th(scope="col") Tổng tiền
            th(scope="col") Số dư
            th(scope="col") Nội dung
        tbody
          each p in paymentHistories
            tr
              td= p.paymentCode
              td= p.paymentDate
              td= p.totalMoney
              td= p.currentBalance
              td= p.content
  else
    p.text-center.text-gray.mb-0 Bạn chưa có bất kỳ thanh toán nào.
