extends ../../templates/admin.template.pug
include ../../mixins/no-result.mixin.pug

block title
  title Xem danh sách nơi điều trị | Admin

block addStyle
  link(rel="stylesheet", href="/vendors/selectize/selectize.min.css")
  link(rel="stylesheet", href="/css/admin/ilf-list.css")

block addContent
  .p-3.flex-grow-1
    .search.d-flex.mb-4
      input#searchInput.field.bg-white(type="text", placeholder="Nhập Tên Khu điều trị cần tìm")
      button#searchBtn.btn.btn-info #[i.bi.bi-search]

    if search
      h5.my-3.text-info Kết quả tìm kiếm cho: #[b.mx-3= search] #[a(href=`/admin/isolation-facilities/list?page=${currentPage}`) #[i.bi.bi-x-square-fill.text-danger.cur-pointer#destroySearch]]

    if ilfList && ilfList.length > 0
      table.table.table-striped.table-light.table-bordered
        thead.thead-dark
          tr
            th(scope="col")
              .has-icon #[span Tên khu điều trị] #[i.bi.sort-icon(data-sort="isolationFacilityName")]
            th(scope="col")
              .has-icon #[span Sức chứa tối đa] #[i.bi.sort-icon(data-sort="capacity")]
            th(scope="col")
              .has-icon #[span Số lượng chứa hiện tại] #[i.bi.sort-icon(data-sort="currentQuantity")]
            th(scope="col") Địa chỉ
            th(scope="col") Hành động
        tbody
          each ilf in ilfList
            tr.if-item(data-id=ilf.isolationFacilityId)
              td.name= ilf.isolationFacilityName
              td.capacity= ilf.capacity
              td.current-quantity= ilf.currentQuantity
              td= ilf.address
              td.text-center
                i.mgmt-icon.edit-icon.bi.bi-pencil-fill.px-2(data-id=ilf.isolationFacilityId)
      #pagination
    else
      +noResult('w-80', '/admin/isolation-facilities/list')

  .modal#editModal
    .modal-dialog.modal-centered
      .modal-content(style="max-width: 480px; margin: 0 auto")
        .modal-header
          h5.modal-title Chỉnh sửa cơ sở điều trị
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body
          .d-flex.flex-column
            label.text-gray.ml-2(for="ifNameInput") Tên cơ sở điều trị
            input#ifNameInput.mb-3.field(type="text", placeholder="Nhập tên cơ sở điều trị", name="ifName", required, maxLength="100")
          .d-flex.flex-column
            label.text-gray.ml-2(for="ifCapacityInput") Sức chứa tối đa
            input#ifCapacityInput.field(type="number", placeholder="Nhập số lượng bệnh nhân tối đa", required, name="capacity", min="0", max="1000000")
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Đóng
          button#editBtn.btn.btn-primary(type="button") Cập nhật

  .toast-msg#toastMsg
block addScript
  script.
    const pageSize = parseInt("#{pageSize}");
    const total = parseInt("#{total}");
    const currentPage = parseInt("#{currentPage}");
    const sortListRaw = "#{sortList}";
    const sortList = sortListRaw.length > 0 ? sortListRaw.split(',') : [];
    const search = "#{search}";

  script(src="/vendors/selectize/selectize.min.js")
  script(src="/vendors/pagination.min.js")
  script(src="/js/admin/ilf-list.js")
