extends ../../templates/management.template.pug
include ../../mixins/chartjs-script.mixin.pug

block title
  title Thống kê thanh toán, dư nợ | Covid Project

block append addStyle

block addContent
  .p-3.flex-grow-1.wrapper
    h1.title.my-3(style="font-size:1.5rem") Thống kê thanh toán, dư nợ năm #{year}
    .container
      .d-flex.mb-5
        select#yearSelect.field.bg-white.sm-box-shadow
          option(value="", hidden, disabled, selected) Chọn năm thống kê
          - const currentYear = new Date().getFullYear()
          each _, i in new Array(10).fill(1)
            option(value=currentYear-i) Năm #{currentYear - i}

      .chart-wrap
        canvas#chart.w-100.h-100

block append addScript
  +chartjsScript
  script.
    const paymentsRaw = "#{payments}";
    const payments = paymentsRaw ? paymentsRaw.split(',').map(i=>Number(i)) : [];
    const debtsRaw = "#{debts}";
    const debts = debtsRaw ? debtsRaw.split(',').map(i=>Number(i)) : [];
  script(src="/js/management/payment-stats.js")
