extends ./general.template.pug

block append style
  link(rel="stylesheet", href="/css/management/mgmt-template.css")
  block addStyle

block content
  .layout-wrapper
    //- navbar
    .navbar-wrap.center-vertical
      .logo-side.center-vertical
        h1.logo #[a(href="/management") Covid-19 Project]
        i.mgmt-icon#toggleSidebar.bi(class=showSidebar ? "bi-layout-sidebar-inset-reverse" : "bi-layout-sidebar-inset")

      .searchbar-wrap.position-relative
          input#navbarSearch.field.w-100(type="text", placeholder="Tìm kiếm người liên quan Covid")
          i#navbarSearchIcon.field-end-icon.bi.bi-search

      .account-side.center-vertical
        .d-flex.flex-column.mx-4
          .username Username
          .role Manager
        a(href="/auth/logout") #[i.mgmt-icon.bi.bi-box-arrow-in-right]

    .d-flex
      -
        const menuList = [
                        {
                          menuTitle: 'Người liên quan Covid',
                          icon: 'bi bi-people-fill',
                          list: [
                            { title: 'Xem danh sách', to: '/users/list' },
                            { title: 'Thêm người liên quan', to: '/users/new' },
                          ],
                        },
                        {
                          menuTitle: 'Nhu yếu phẩm',
                          icon: 'bi bi-box-seam',
                          list: [
                            { title: 'Xem danh sách', to: '/products/list' },
                            { title: 'Thêm nhu yếu phẩm', to: '/products/new' },
                          ],
                        },
                        {
                          menuTitle: 'Gói nhu yếu phẩm',
                          icon: 'bi bi-boxes',
                          list: [
                            { title: 'Xem danh sách', to: '/product-packages/list' },
                            { title: 'Thêm gói nhu yếu phẩm', to: '/product-packages/new' },
                          ],
                        },
                        {
                          menuTitle: 'Thống kê',
                          icon: 'bi bi-graph-up-arrow',
                          list: [
                            { title: 'Trạng thái theo thời gian', to: '/statistic/statusf-time' },
                            { title: 'Thông tin trạng thái', to: '/' },
                            { title: 'Mức tiêu thụ gói nhu yếu phẩm', to: '/' },
                            { title: 'Tiêu thụ sản phẩm', to: '/' },
                            { title: 'Dư nợ, thanh toán', to: '/' },
                          ],
                        },
                        {
                          menuTitle: 'Thanh toán',
                          icon: 'bi bi-currency-exchange',
                          list: [
                            { title: 'Hạn mức thanh toán tối thiểu', to: '/payment/minium-limit' },
                            { title: 'Duyệt danh sách, nhắc thanh toán', to: '/payment/debt-list' },
                          ],
                        },
                      ];

      //- sidebar
      .sidebar-wrap#sidebar(style=showSidebar ? "" : "display:none")
        .menu
          each menu in menuList
            h3.menu-title #[i.mr-2(class=menu.icon)] #{menu.menuTitle}
            ul.menu-list
              each menuItem in menu.list
                li.menu-item(data-path=menuItem.to)
                  a(href="/management" + menuItem.to)= menuItem.title

      //- main content
      block addContent

block append script
  script(src="/js/management/mgmt-template.js")
  block addScript
